body {
  font-family: 'SpoqaHanSans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.noresize {
  resize: none;
}

label {
  font-weight: bold;
}

a.card-wrapper {
  color: #343a40;
  text-decoration: none;
}

a.card-wrapper:hover,
a.card-wrapper:focus {
  color: #343a40;
}

a.card-wrapper .card,
a.card-wrapper .card {
  transition: border-color .2s;
}

a.card-wrapper:hover .card,
a.card-wrapper:focus .card {
  border-color: #868e96;
  transition: border-color .2s;
}
