{% extends 'base.html' %}

{% load account_extras %}

{% block container %}

<div class="row flex-column accounts">
  <div class="col-11 offset-sm-1 col-sm-10 offset-md-2 col-md-8">
    <h1 class="py-4">비밀번호 변경</h1>

    <div class="mt-3 mb-5">
      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors | join:'<br>' | safe }}
      </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group profile-form">
          {{ form.old_password | add_class:'form-control profile-input' }}
          <label for="{{ form.old_password.id_for_label }}">기존 비밀번호</label>
          {% for error in form.old_password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="form-group profile-form">
          {{ form.new_password1 | add_class:'form-control profile-input' }}
          <label for="{{ form.new_password1.id_for_label }}">새 비밀번호</label>
          <small class="form-text text-muted">{{ form.new_password1.help_text | li_to_br | safe }}</small>
          {% for error in form.new_password1.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="form-group profile-form">
          {{ form.new_password2 | add_class:'form-control profile-input' }}
          <label for="{{ form.new_password2.id_for_label }}">새 비밀번호 확인</label>
          {% for error in form.new_password2.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
        <input type="submit" value="변경하기" class="btn btn-movie mt-2">
      </form>
    </div>
  </div>
</div>

<script>
  const inputOldPw = document.querySelector(".profile-form input#id_old_password")
  const inputNewPw1 = document.querySelector(".profile-form input#id_new_password1")
  const inputNewPw2 = document.querySelector(".profile-form input#id_new_password2")

  function focusOut() {
      if (this.value != ""){
          this.classList.add("has-content");
      } else {
          this.classList.remove("has-content")
      }
  }

  inputOldPw.addEventListener("focusout", focusOut);
  inputNewPw1.addEventListener("focusout", focusOut);
  inputNewPw2.addEventListener("focusout", focusOut);
</script>

{% endblock %}
