{% extends 'base.html' %}

{% block container %}

<div class="row flex-column accounts text-center">
  <div class="col-11 offset-sm-1 col-sm-10 offset-md-2 col-md-8">
    <h1 class="my-5 profile-title">계정 정보</h1>
    <div>
      <img src="{{ user.profile.image_url }}" alt="profile image" width="150">  
    </div>

    <div class="mt-3 mb-5 profile-content">
      <div class="my-3">
        <span>사용자 이름</span>
        <p>{{ user.username }}</p>
      </div>
      <div class="my-3">
        <span>별명</span>
        <p>{{ user.profile.nickname | default:'-' }}</p>
      </div>
      <div class="my-3">
        <span>자기소개</span>
        <p>{{ user.profile.about | default:'-' }}</p>
      </div>
    </div>

    <div class="pb-5">
      <a class="btn btn-movie-sub" href="{% url 'accounts:profile_update' %}">프로필 수정</a>
      <a class="btn btn-movie" href="{% url 'accounts:password_change' %}">비밀번호 변경</a>
    </div>
  </div>
</div>

{% endblock %}
