{% extends 'base.html' %}

{% block container %}

<h1 class="py-4">계정 정보</h1>
<div>
  <img src="{{ user.profile.image_url }}" alt="profile image">  
</div>

<div class="py-4">
  <label>사용자 이름</label>
  <p>
    {{ user.username }}  
  </p>

  <label>별명</label>
  <p>
    {{ user.profile.nickname | default:'-' }}
  </p> 

  <label>자기소개</label>
  <p>
    {{ user.profile.about | default:'-' }}
  </p>
</div>

<div>
  <a class="btn btn-info" href="{% url 'accounts:profile_update' %}">프로필 수정</a>
  <a class="btn btn-danger" href="{% url 'accounts:password_change' %}">비밀번호 변경</a>
</div>

{% endblock %}
