{% extends 'base.html' %}

{% block container %}

<h1>Account</h1>

<h3>User Info</h3>

<p><b>username : </b> {{ user.username }}</p>
<p><b>first name : </b> {{ user.first_name }}</p>
<p><b>last name : </b> {{ user.last_name }}</p>
<p><b>email : </b> {{ user.email }}</p>

<p>
  <a href="{% url 'accounts:password_change' %}">Change Password</a>
</p>

<h3>Profile</h3>

<p><b>Image : </b><img src="{{ user.profile.image_url }}" alt="profile image"></p>
<p><b>About : </b>{{ user.profile.about }}</p>

<p>
  <a href="{% url 'accounts:profile_update' %}">Edit Profile</a>
</p>

{% endblock %}
