{% extends 'base.html' %}

{% block container %}

<div class="row flex-column accounts">
  <div class="col-11 offset-sm-1 col-sm-10 offset-md-2 col-md-8">
    <h1 class="profile-title">프로필 수정</h1>

    <div class="my-5">
      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors | join:'<br>' | safe }}
      </div>
      {% endif %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group profile-form">
          {{ form.nickname }}
          <label for="{{ form.nickname.id_for_label }}">별명</label>
          {{ form.nickname.errors }}
        </div>
        <div class="form-group profile-form">
          {{ form.about }}
          <label for="{{ form.about.id_for_label }}">자기소개</label>
          {{ form.about.errors }}
        </div>
        <div class="form-group profile-form">
          <div class="custom-file">
            {{ form.image }}
            <label for="{{ form.image.id_for_label }}">프로필 사진</label>
            {{ form.image.errors }}
          </div>
          <label id="label_image" class="custom-file-label profile-extra-label" for="{{ form.image.id_for_label }}"></label>
        </div>
        <input type="submit" value="수정하기" class="btn btn-movie mt-2">
      </form>
    </div>
  </div>
</div>

<script>
  document.getElementById('id_image').addEventListener('change', function(e) {
    document.getElementById('label_image').innerHTML = event.target.files[0].name;
  })

  const inputNickname = document.getElementById("id_nickname");
  const inputAbout = document.getElementById("id_about");

  function focusOut() {
    if (this.value != ""){
        this.classList.add("has-content");
    } else {
        this.classList.remove("has-content")
    }
  }

  inputNickname.addEventListener("focusout", focusOut);
  inputAbout.addEventListener("focusout", focusOut);
</script>

{% endblock %}
