<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>What's up Movie</title>
</head>
<body>
  {% if user.is_authenticated %}
    <p>
      Hi, {{ user.username }}. <a href="{% url 'accounts:logout' %}">Log out</a>.
    </p>
  {% else %}
    <p>
      <a href="{% url 'accounts:login' %}">Log in</a>.
    </p>
  {% endif %}

  {% block container %}{% endblock %}
</body>
</html>
