{% extends 'base.html' %}

{% block container %}

<h1>Movie Detail</h1>

<p>
  <a href="{% url 'movies:list' %}">List</a>
</p>

<img src="{{ movie.image_url }}" alt="Movie Image">
<h3>{{ movie.title }}</h3>
<p>{{ movie.content }}</p>
<p><b>Average Score : </b>{{ movie.get_avg_rating }}</p>

{% if user.is_authenticated %}

  {% if my_rating %}

    <p><b>My Score : </b>{{ my_rating }}</p>

  {% else %}

    <form action="{% url 'movies:ratings_create' movie.pk %}"  method="post">
      {% csrf_token %}
      {{ rating_form }}
      <input type="submit" value="Submit">
    </form>

  {% endif %}

{% endif %}

{% endblock %}
