{% extends 'base.html' %}

{% load movie_extras %}

{% block container %}

<div class="movie-detail-bg">
    <img src="{{ movie.image_url }}" alt="Movie Image">
</div>
<div class="row movie-detail-item">
  <div class="offset-2 col-8 offset-sm-0 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <img src="{{ movie.image_url }}" class="w-100" alt="Movie Image">    
  </div>
  <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 movie-item-text">
    <h1 class="my-5">{{ movie.title }}</h1>
    <div class="mb-4">
      <h5>
        <span class="badge badge-movie">&starf; {{ movie.get_avg_rating | floatformat:2 }}</span>
      </h5>
      <p>{{ movie.content }}</p>
    </div>  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3 class="small-title">리뷰</h3>

    {% if user.is_authenticated %}
      {% if not rating_exists %}
        
        {{ form.non_field_errors }}
        <form action="{% url 'movies:ratings_create' movie.pk %}" method="post">
          {% csrf_token %}
          <div class="form-group form-comment">
            <div>
              <div class="comment-name-tag">
                <img src="{{ user.profile.image_url }}" alt="profile image" width="30">  
                {% firstof user.profile.nickname user.username %}
              </div>
              <fieldset class="rating">
                {% for choice in rating_form.score.field.choices %}
                  <input type="radio" id="star{{ choice.1 | remove_dot }}" name="score" value="{{ choice.0 }}" required {% if choice.0 == 3.5 %}checked{% endif %}/><label class="{{ choice.1 | last_char_is_equal_to:'0' | yesno:'full,half' }}" for="star{{ choice.1 | remove_dot }}"></label>
                {% endfor %}
              </fieldset>
              {{ rating_form.score.errors }}
            </div>
            <div class="comment-text-submit">
                {{ rating_form.content }}
                {{ rating_form.content.errors }}
              <input type="submit" value="작성" class="btn btn-movie">
            </div>
          </div>
        </form>
        
      {% endif %}
    {% endif %}

    <dl class="my-5">
      {% for rating in movie.rating_set.all %}
      <dt class="mb-1">
        {% firstof rating.user.profile.nickname rating.user.username %}<span class="badge badge-movie ml-2">&starf; {{ rating.score }}</span>
      </dt>
      <div class="d-flex">
        <dd>
          {{ rating.content }}
          {% if user == rating.user %}
        </dd>
        <form action="{% url 'movies:ratings_delete' movie.pk rating.pk %}" method="post" style="display: inline-block;">
          {% csrf_token %}
          <input type="submit" value="삭제" class="btn btn-movie py-0 px-1">
        </form>
        {% endif %}
      </div>
      <hr>
      {% endfor %}
    </dl>
  </div>
</div>

<script>
  const textarea = document.querySelector(".comment-textarea");

  textarea.oninput = function() {
    textarea.style.height = "";
    textarea.style.height = Math.min(textarea.scrollHeight) + "px";
  }
</script>

{% endblock %}
